@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@100..900&display=swap");
@import "tailwindcss";

/* @media (prefers-color-scheme: light); {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */

@theme {
  --color-*: initial;
  --default-font-family: "Kumbh Sans", sans-serif;
  --font-base: 400;
  --font-dark: 700;

  /* primary colors */
  --color-Orange: hsl(26, 100%, 55%);
  --color-Pale-orange: hsl(25, 100%, 94%);

  /* Neutral colors  */
  --color-Verydarkblue: hsl(220, 13%, 13%);
  --color-Darkgrayishblue: hsl(219, 9%, 45%);
  --color-Grayishblue: hsl(220, 14%, 75%);
  --color-Lightgrayishblue: hsl(223, 64%, 98%);
  --color-White: hsl(0, 0%, 100%);
  /* - Black (with 75% opacity for lightbox background): hsl(0, 0%, 0%) */

  --cart-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}
